

.app {
  background-color: violet;
}

.Title{
  margin: auto;
  width: 50%;
  height: 50%;
  border: 3px solid lightyellow;
  padding: 10px;
  border-radius: 20px;
  background-color: lightyellow;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif ;
}


.Game-List{
  border: 1px transparent #ddd;
  max-width: 25%;
  height: auto;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  
  
  
  
}

.img{
  width: 200px;
  height: 200px;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
  display: block;

  
}

.Log-in{
  display: block;
  text-align: center;
}

.Game-list-buttons{
  margin-left: 5px;
  padding-left: 5px;
  display: inline-block;
}

.add-game-form{
  display: block;
  text-align: center;

}

.level-image{
  width: 600px;
  height: 400px;
  margin: 10px;
  border-radius: 8px;
}